@import "../../style.scss";
.navbar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid themed("logo");
    padding: 10px 20px;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColorSoft");
    z-index: 999;

    .left {
      display: flex;
      gap: 30px;

      .logo {
        font-size: 24px;
        color: themed("logo");
        font-weight: 600;
      }
      .search {
        display: flex;
        padding: 5px;
        align-items: center;
        border: 1px solid themed("border");

        //Allows us to hide the input on mobile phone
        @include mobile {
          width: 25px;
          height: 25px;
        }

        input {
          width: 500px;
          border: none;
          background-color: transparent;
          color: themed("textColorSoft");

          //Allows us to hide the input on mobile phone
          @include mobile {
            display: none;
          }

          //Allows us to hide the bar on tablet
          @include tablet {
            width: 70%;
          }
        }
      }
    }

    .right {
      display: flex;
      gap: 30px;

      //Allows us to hide the content  on mobile phone
      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        gap: 10px;
        align-items: center;

        //Allows us to hide the bar on tablet
        @include tablet {
          display: none;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
