.navbar {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid orange;
  padding: 10px;
  height: 50px;

  .left {
    display: flex;
    gap: 30px;

    .logo {
      font-size: 24px;
      color: orange;
      font-weight: 600;
    }
    .search {
      display: flex;
      padding:5px;
      align-items: center;
      border: 1px solid lightgray;

      input {
        width: 500px;
        border: none;
      }
    }
  }

  .right {
    display: flex;
    gap: 30px;

    .user {
      display: flex;
      gap: 10px;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }
}
