@import "../../style.scss";

.rightbar {
   //Allows us to hide the bar on mobile phone
   @include mobile{
    display: none;
  }

  //Allows us to hide the bar on tablet
  @include tablet{
    display: none;
  }
  
  @include themify($themes) {
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(
      100vh - 70px
    ); /*Because of the navbar total height is 70px (padding top and bottom is 10px + height 50px)*/
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    background-color: themed("bgSoft");
    color: themed("textColor");

    .container {
      padding: 20px;
      display: flex;
      flex-direction: column;
      // gap: 20px;
      // margin-bottom: 20px;

      .user {
        font-weight: 600;
      }
      .item {
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-bottom: 30px;
        gap: 20px;
        background-color: themed("bg");

        .title {
          font-size: 18px;
          font-weight: 600;
          color: themed("textColorSoft")
        }
        .suggestions {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .friend {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            p{
                color:themed("textColorSoft")
            }
          }
          .buttons {
            display: flex;
            gap: 10px;
            .follow {
              border: none;
              padding: 5px;
              background-color: rgb(144, 127, 244);
              color: white;
              font-weight: 500;
              cursor: pointer;
            }
            .dismiss {
              border: none;
              padding: 5px;
              background-color: rgb(244, 65, 101);
              color: white;
              font-weight: 500;
              cursor: pointer;
            }
          }
        }

        .online {
          display: flex;
          align-items: center;
          gap: 20px;

          .friend-online {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }

            .badge {
              width: 15px;
              height: 15px;
              border-radius: 50%;
              background-color: green;
              position: absolute;
              top: 0px;
              right: -10px;
            }
          }
        }
      }
    }
  }
}
